<header>
        <div class="header-presentantion">
            <h1>Nicolas Fediuk</h1>
            <p><span>Desarrollador .NET</span></p>
        </div>

        <div>
            <img src="img/header.svg" />
        </div>
</header>
